body {
    background-color: #EFEFEF;
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

/*////////////////////////////////Blocs menus////////////////////////////////*/

.img-carre {
    margin-left: 4px;
    margin-top: 4px;
    width: 32px;
    height: 32px;
}

.icon {
    margin-left: 6px;
    margin-top: 4px;
}

#nav {
    width: 40px;
    height: 100%;
    display: block;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    -moz-box-shadow: 2px 0px 3px 0px #5EC2ED;
    -webkit-box-shadow: 2px 0px 3px 0px #5EC2ED;
    -o-box-shadow: 2px 0px 3px 0px #5EC2ED;
    box-shadow: 2px 0px 3px 0px #5EC2ED;
}

#entetep {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#icone {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

#carre1 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 100px;
    left: 0;
    display: block;
}

#carre2 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 160px;
    left: 0;
    display: block;
}

#carre3 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 220px;
    left: 0;
    display: block;
}

#carre4 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 280px;
    left: 0;
    display: block;
}

#contenu {
    position: absolute;
    top: 0px;
    left: 42px;
    right: 42px;
    width: calc(100% - 42px);
    /*min-height: 100%;*/
    /*overflow: auto;*/
}

.liste {
    display: inline-block;
    padding-top:10px;
    padding-bottom:10px;
}

.line {
    list-style-type: none;
    font-size: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/*////////////////////////////////Blocs de contenu////////////////////////////////*/

#bio {
    display: inline-block;
    float: left;
}

#projets {
    display: none;
}

#competences {
    display: none;
    text-align: center;
    margin-bottom: 4%;
    /*overflow-y: auto;*/
}

#formations {
    display: none;
}

#contacter {
    display: none;
}

.competence {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 5px;
}

/*////////////////////////////////Elements recursifs////////////////////////////////*/

section {
  width: 100%;
}

.text-color {
  color: #29262A;
}

/* Bio */

@media only screen and (min-width: 601px) {
  .prg-bio {
    width: 480px;
  }
}

@media only screen and (max-width: 600px) {
  .prg-bio {
    width: 240px;
  }
}

@media only screen and (min-width: 601px) {
  .title {
    display: block;
    width: min-content;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    display: block;
    width: min-content;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 23px;
  }
}

.titre {
    width: 300px;
    height: 80px;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid black 1px;
    display: block;
}

.central {
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 94%;
    height: 100%;
    padding-top: 5%;
    background-color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.7);
}

.link-color {
    text-decoration:none;
    color: #5EC2ED;
}

#forma1 {
    display:inline-block;
    color: #F5F5F5;
    margin-left:20%;
    margin-top: 10%;

}

#forma2 {
    display:inline-block;
    color: #F5F5F5;
    padding-left:50%;
    padding-top: 10%;
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.element {
  margin: 10px;
}

.front {
    text-align: center;
}

.back {
    display: block;
    background-color: #5EC2ED;
    width: 100%;
    height: 100%;
}

.div-card {
    padding-top: 50px;
    text-align:center;
    color: white;
    font-size: 20px;
    /*width: 200px;
    height: 200px;*/
}

@media only screen and (min-width: 601px) {
  .img-card {
      height: 240px;
  }

  .div-card {
      padding-top: 50px;
      text-align:center;
      color: white;
      font-size: 20px;
      /*width: 200px;
      height: 200px;*/
  }
}

@media only screen and (max-width: 600px) {
  .img-card {
      height: 120px;
  }

  .div-card {
      padding-top: 50px;
      text-align:center;
      color: white;
      font-size: 12px;
      width: 120px;
      margin: auto;
  }
}

.year-circle {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  width: 200px;
  min-height: 200px;
  text-align: center;
  background-color: #5EC2ED;
  color: #F5F5F5;
}

.for-descript {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 600px;
  min-height: 200px;
  text-align: center;
  background-color: #5EC2ED;
  color: #F5F5F5;
}

.for-text {
  display: block;
  margin-top: 85px;
  font-size: 22px;
}

.for-text-with-mini {
  display: block;
  margin-top: 40px;
  font-size: 22px;
}

.for-mini {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
}

/* Projet */
@media only screen and (min-width: 601px) {
  .projet {
    background-color: #e3dfe4;
    margin: 20px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
  }

  .img-projet {
    width: 480px;
    height: 346px;
    z-index: 1;
    position: absolute;
  }

  .text-projet {
    width: 480px;
    height: 346px;
    z-index: 2;
    position: relative;
    background-color: #29262A;
    opacity: 0.8;
    visibility: hidden;
  }

  .pro-descript {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: #FFFFFF;
    padding-top: 100px;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .projet {
    background-color: #e3dfe4;
    margin: 20px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
  }

  .img-projet {
    width: 240px;
    height: 173px;
    z-index: 1;
    position: absolute;
  }

  .text-projet {
    width: 240px;
    height: 173px;
    z-index: 2;
    position: relative;
    background-color: #29262A;
    opacity: 0.8;
    visibility: hidden;
  }

  .pro-descript {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 30px;
    text-align: justify;
  }
}

/*////////////////////////////////Autres////////////////////////////////*/

.circle-photo {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}

.circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    padding: 5px;
    border: solid #F5F5F5 1px;
    width: 206px;
    height: 206px;
    display: block;
}

.skills-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
}

.skills-img {
    width: 200px;
    height: 200px;
}

.projects-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
}

.contact-card {
  display: block;
  width: 400px;
  border: solid 1px #F5F5F5;
  text-align: center;
  padding:10px;
}

.contact-input {
  font-size: 18px;
  padding: 4px;
  width: 400px;
}

.contact-area {
  font-size: 14px;
  padding: 4px;
  resize: none;
  width: 400px;
}

#linkedin {
  margin-top: 10px;
  width: 200px;
  height: 61px;
}

/*////////////////////////////////Animation Card////////////////////////////////*/

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

@media only screen and (max-width: 600px) {
  .vertical.flip-container .flipper {
  	transform-origin: 100% 60px; /* half of height */
  }
}

@media only screen and (min-width: 601px) {
  .vertical.flip-container .flipper {
  	transform-origin: 100% 120px; /* half of height */
  }
}

.vertical.flip-container:hover .flipper {
	transform: rotateX(-180deg);
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

@media only screen and (max-width: 600px) {
  .flip-container, .front, .back {
  	width: 120px;
      /*width: 100%;*/
  	height: 120px;
  }
}

@media only screen and (min-width: 601px) {
  .flip-container, .front, .back {
  	width: 240px;
      /*width: 100%;*/
  	height: 240px;
  }
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/*////////////////////////////////Reset CSS////////////////////////////////*/

ul {
  -webkit-padding-start: 0px;
}
