body {
    background-image: url("../ressources/Images/bg.png");
    overflow-x: hidden;
}

/*////////////////////////////////Blocs menus////////////////////////////////*/

.carre {
}

.img-carre {
    margin-left: 4px;
    margin-top: 4px;
}

#nav {
    width: 40px;
    height: 100%;
    display: block;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    border-right: solid 2px #1A8BB2;
}

#entete {
    height: 40px;
    display: none;
    background-color: grey;
    top: 0;
    left: 40px;
    position:fixed;
    z-index:10;
    padding-right: 50px;
    padding-left: 20px;
    border-radius: 0 20px 20px 0;
}

#icone {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    display: block;
}

#carre1 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 100px;
    left: 0;
    background-color: #111;
    display: block;
}

#carre2 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 160px;
    left: 0;
    background-color: #111;
    display: block;
}

#carre3 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 220px;
    left: 0;
    background-color: #111;
    display: block;
}

#carre4 {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 280px;
    left: 0;
    background-color: #111;
    display: block;
}

#contenu {
    position: absolute;
    top: 0px;
    left: 42px;
    min-width: 100%;
    max-width: 100%;
    /*min-height: 100%;*/
    /*overflow: auto;*/
}

.photo {
    display: inline-block;
    width: 49%;
}

.liste {
    display: inline-block;
    width: 49%;
    color: #F5F5F5;
    padding-top:10px;
    padding-bottom:10px;
}

.line {
    list-style-type: none;
    font-size: 28px;
}

/*////////////////////////////////Blocs de contenu////////////////////////////////*/

#bio {
    display: inline-block;
    float: left;
    padding-top: 60px;
}

#projets {
    display: none;
}

#competences {
    display: none;
    text-align: center;
    margin-bottom: 4%;
    /*overflow-y: auto;*/
}

#formations {
    display: none;
    padding-top: 60px;
    color: #F5F5F5;
}

#contacter {
    display: none;
    padding-top: 60px;
}

.competence {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 5px;
}

.form {
}

/*////////////////////////////////Elements recursifs////////////////////////////////*/

.titre {
    width: 300px;
    height: 80px;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid black 1px;
    display: block;
}

.central {
    display: block;
    margin:auto;
    margin-top: 8%;
    width: 80%;
    height: 100%;
    margin-bottom: 8%;
}

.prg {
   padding: 20px;
   color: #F5F5F5;
}

.link {
    text-decoration:none;
    color: #696969;
}

#forma1 {
    display:inline-block;
    color: #F5F5F5;
    margin-left:20%;
    margin-top: 10%;

}

#forma2 {
    display:inline-block;
    color: #F5F5F5;
    padding-left:50%;
    padding-top: 10%;
}


/*////////////////////////////////Autres////////////////////////////////*/


.date {
    border-right: dashed 1px #1A8BB2;
    border-left: dashed 1px #1A8BB2;
    border-top: solid 1px #1A8BB2;
    padding: 10px;
    text-align: center;
    width: 10%;
}

.date-spe {
    border-right: dashed 1px #1A8BB2;
    border-left: dashed 1px #1A8BB2;
    padding: 10px;
    text-align: center;
}

.circle-photo {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}

.circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    margin-left: 36%;
    padding: 5px;
    border: solid #F5F5F5 1px;
    width:auto; height:auto;
    float:left;
}

.inspi-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}

.inspi-pics {
  border: solid 1px white;
}

.legende {
  background-color: blue;
  color: white;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

#arbre {
    display:block;
    /*position:absolute;*/
    margin:auto;
    width:500;
    height:500;
}

.skills-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
}

.skills-img {
    width: 200px;
    height: 200px;
}

.skills-tools-title {
    display: block;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 28px;
    color: #F5F5F5;
}

.for-table {
    margin: 0 auto;
    /*border-collapse: separate;*/
    /*border-spacing: 10px;*/
}

.for-des {
  padding: 20px;
}

.for-int {
  width: 30%;
  text-align: right;
  padding: 20px;
}

.for-annee {
  margin-top: 16px;
  margin-bottom: 16px;
}

.projects-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
}

.contact-input {
  font-size: 18px;
  padding: 4px;
  width: 400px;
}

.contact-area {
  font-size: 14px;
  padding: 4px;
  resize: none;
  width: 400px;
}
